{% extends "base.html" %}

{% block main %}



    <h1 class="page-header">Library Contents</h1>


    <div class="table-responsive">
        <table id="videos_list" class="table table-striped">
            <thead>

            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Added</th>
                <th>Location</th>
                <th>Scenarios</th>

            </tr>
            </thead>
            <tbody>
            {% for item in object_list %}



                <tr data-id="{{ item.id }}">
                    <td>{{ item.title }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.added_on }}</td>
                    <td>{{ item.location }}</td>
                    <td>{% for scenario in item.scenarios.all %}
                        {{ scenario.name }}

                    {% endfor %}</td>


                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}

{% block js %}

    <script>
        $(document).ready(function() {

            $('#videos_list tr').click(function() {
                var href = "/view/" + $(this).data("id") + "/";
                    if(href) {
                        window.location = href;
                    }
                });
            });

    </script>
{% endblock %}